.card {
    background-color: #ffffff; /* Kart arkaplan rengi */
    border-radius: 8px; /* Kart köşe yuvarlama */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Kart gölge */
    overflow: hidden;
    transition: transform 0.3s; /* Kart üzerine gelince hafif bir animasyon ekleyebilirsiniz */
  }
  
  .card:hover {
    transform: scale(1.05); /* Kart üzerine gelince biraz büyütme efekti */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card__title {
    margin-bottom: 15px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #300c74; /* Buton rengi */
    color: #ffffff; /* Buton metin rengi */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #3c20b8; /* Buton üzerine gelince rengi değiştirme */
  }
  
  .card-link {
    text-decoration: none;
  }
  